node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# BMAD
.bmad-core/
.github/chatmodes

# VS Code
.vscode/

# Playwright
playwright-report/
test-results/
